* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.s-container {
    max-width: 1200px;
    margin: 100px auto;
}

.s-title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.s-card {
    width: 150px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin: 10px;
    /* border: 1px solid black; */
    position: relative;
}

.s-info-card {
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    
}

img:hover {
    filter: grayscale(100%);
}

.s-options {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    margin: 10px;
    gap: 5px;
    color: white;
}

.s-options span:hover {
    width: fit-content;
    height: fit-content;
    background-color: white;
    border-radius: 100%;
    color: black;
    padding: 4px;
    cursor: pointer;
}